* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #727072;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDFFFC;
    border-radius: 15px;
}

li:hover {
    cursor: pointer;
}

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 300px;
    width: 550px;
    margin-bottom: 25px;
}

p {
    margin-left: 20px;
}

.hardReset {
    background-image: url(images/loop.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 25px;
    margin-top: 10px;
    display: none;
}


.titleDiv {
    display: flex;
}

.title {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
}

.list {
    margin-left: 20px;
    display: none;
}

.sport {
    margin-left: 25px;
    font-size: 25px;
    font-weight: 700; 
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

.scoreDiv {
    margin-bottom: 25px;
    display: none;
}

.score {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
}

.buttonDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    pointer-events: none;
}

.buttonScore {  
    height: 50px;
    transition: transform 0.5s;
    margin-top: 25px;
}

.playerOne {
    background-color: #52AA5E;
    border-bottom-left-radius: 15px;
}

.playerTwo {
    background-color: #5D8BF4;
}

.reset {
    background-color: #FC4F4F;
    border-bottom-right-radius: 15px;
}

.buttonScore:hover {
    transform: scale(0.95);
}

.playerOne:hover {
    background-color: #65f078dc;
    transition: background-color 0.5s;
}

.playerTwo:hover {
    background-color: #83a6f7;
    transition: background-color 0.5s;
}

.reset:hover {
    background-color: #f88080;
    transition: background-color 0.5s;
}
